@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: coral;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
}

#instruction {
  position: absolute;
  width: 100vw;
  text-align: center;
  font-size: xxx-large;
}

#clock {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clock h1 {
  font-size: 3em;
}
